.Main_Wrapper {
  display: flex;
  flex-direction: column;
  background-color: #2a2b2a;
}

.nav_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a1e1f;
  padding: 1.2rem;
  color: white;
  position: sticky;
  top: 0;
}

.logo_Wrapper {
  display: flex;
  align-items: center;
}

.logo_Title {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
}

.current_Link {
  color: #0699d6;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.1rem;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
  font-weight: bold;
  color: white;
  font-size: small;
}

li:hover {
  color: #0699d6;
  cursor: pointer;
}

main {
  flex: 1;
  overflow: hidden;
}

main img {
  width: 100%;
  object-fit: cover;
}

.burger-menu-icon {
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 650px) {
  .nav_wrapper {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1a1e1f;
    padding: 10px;
  }

  .nav-links.open {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .logo_Title {
    font-size: 16px;
  }
  .burger-menu-icon {
    display: block;
  }

  .burger-menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
