.hero_wrapper {
  background-color: #2a2b2a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 25rem;
  flex-direction: column;
}

.hero_text {
  font-size: 26px;
  font-weight: lighter;
  line-height: 1.5;
  max-width: 850px;
  margin: 0 auto;
  color: white;
}
.more_info {
  color: #00aff2;
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hero_text {
    padding: 0.5rem;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .hero_text {
    font-size: 16px; /* Adjust as needed */
    max-width: 100%; /* Allow text to take full width on smaller screens */
  }
}
