.courses_wrapper {
  padding: 20px;
  background-color: #161616;
}

h2 {
  color: #fff;
  padding-left: 13rem;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
  gap: 2rem;
  padding: 6rem 13rem;
}

.course_card {
  width: 100%;
  max-width: 301px;
  border: 1px solid rgba(85, 85, 85, 1);
  outline: none;
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.course_image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.course_contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.1rem;
  gap: 2.3rem;
}

.course_title {
  font-weight: bold;
}

.course_description {
  font-size: small;
  font-weight: bold;
}

.course_button {
  font-size: 0.9rem;
  color: #01a8e8;
  font-weight: bold;
}

.course_button:hover {
  cursor: pointer;
  color: #0c92c7;
  transition: 0.4s;
}

.course_button_container {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  align-items: center;
  gap: 1rem;
}

p {
  color: white;
}

@media screen and (max-width: 960px) {
  .cards_container {
    grid-template-columns: repeat(auto-fill, minmax(301px, 1fr));
    padding: 6rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .cards_container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: 1rem;
    gap: 1rem;
  }
  .course_title {
    width: 100%;
    text-align: left;
  }
  h2 {
    padding-left: 1rem;
  }

  .course_contents {
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  .course_button_container {
    margin-top: 1.5rem;
    gap: 0.5rem;
  }

  .course_button {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  .course_card {
    gap: 0.1rem;
  }
}
