/* Footer.css */

.footer_container {
  display: flex;
  justify-content: center;
  background-color: #1a1e1f;
  padding: 3.5rem 2rem;
}

.footer_wrapper {
  width: 850px;
  display: flex;
  justify-content: space-around;
}
.left_container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem;
}
.left_container p {
  font-size: 14px;
  font-weight: 600;
}
.right_container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}
.footer_logo {
  width: 120px;
}
.socials_logo {
  width: 100px;
}
.contact_button {
  width: 162px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: #00aef3;
  color: white;
  padding: 0.5rem 1.2rem;
}
.contact_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
@media (width<450px) {
  .footer_wrapper {
    flex-direction: column;
  }
  .right_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
