.accordion_container {
  background-color: #171617;
  padding: 6rem;
}
.accordion {
  width: 900px;
  margin: 0 auto;
}
.accordion_title {
  display: flex;
  color: white;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.accordion_title h2 {
  color: #00aff2;
  font-weight: bold;
  cursor: pointer;
}
.accordion_title h2:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.question {
  font-weight: 600;
  font-size: 1.15rem;
}
.answer {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: left;
}
.accordion_subtext {
  font-size: 0.9rem;
}
.accordion_subtext span {
  font-weight: bold;
}
.accordion-item {
  padding: 2rem 0;
  overflow: hidden;
  text-align: left;
  border-bottom: 1px solid #312f2f;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  background-color: #171617;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.accordion-item.open .accordion-content {
  max-height: 1000px;
}

.arrow {
  transition: transform 0.3s ease-in-out;
  color: white;
}

.accordion-item.open .arrow {
  transform: rotate(180deg);
}
.all_questions {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .accordion_container {
    padding: 1.5rem;
  }

  .accordion {
    width: 100%;
  }
  .all_questions {
    display: block;
    color: #00acf3;
    text-align: center;
    margin-top: 2rem;
  }

  .accordion_title {
    align-items: flex-start;
    font-size: small;
    gap: 0.5rem;
  }
  .second_title_button {
    display: none;
  }
  .accordion_title h2 {
    margin-bottom: 1rem;
  }
  .accordion-item {
    padding: 1.5rem 0;
  }
}
