.slider_container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #2a2a2b;
  padding: 5rem;
  display: flex;
  justify-content: center;
}
.partners_title {
  font-size: 1.8rem;
  font-weight: bold;
}
.slider_content {
  display: flex;
  gap: 3rem;
}
.section_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2b;
}
.partner_title_container {
  background-color: #2a2a2b;
  padding-top: 3rem;
  display: flex;
}
.slider_image {
  width: 320px;
  height: auto;
  object-fit: contain;
}

.slider_arrow {
  position: absolute;
  top: 50%;
  margin: 0 9rem;
  transform: translateY(-50%);
  font-size: 4rem;
  cursor: pointer;
  color: white;
}
.slider_arrow:hover {
  color: lightgray;
  transition: 0.3s;
}
.dots_container {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 7px;
  height: 7px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
.arrow_left {
  left: 0;
}

.arrow_right {
  right: 0;
}

@media (max-width: 768px) {
  .slider_content {
    flex-direction: column;
    gap: 1rem;
  }
  .partner_title_container h2 {
    font-size: 1.3rem;
  }
  .slider_container {
    padding: 3rem;
    height: 350px;
    align-items: center;
  }
  .partner_title_container {
    text-align: center;
  }
  .slider_image {
    width: 100%;
    height: 50px;
  }

  .slider_arrow {
    display: none;
  }
}
@media (width <1020px) {
  .slider_image {
    width: 220px;
  }
  .slider_arrow {
    margin: 0 1rem;
  }
}
